body{
	background-image: url(images/bluebackground.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;

	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}
h1{
	width: 1000px;
	margin: 10px auto;
	padding: 10px 15px 10px 15px; 
}
 .menu ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position fixed;
}
.menu li{
	list-style-type:none;
	float:left;
	font-size:18px;
	padding-left:65px;
	padding-right: 61px;
	border: 1px solid #252525;
	
}
.menu a:link
{
	text-decoration: none;
}
.menu a:visited{
	color: black;
}
li:active{
	background-color: red;
}

.main_content{
	width: 1000px;
	margin: 10px auto;
	padding: 10px 15px 10px 15px; 
	background-color:#D5D5D5;
	border:1px solid #f0f0f0;
	box-shadow: 5px 5px 5px #252525;
}

.menu{
	background-image: url(images/orangebackground.jpg);
	width: 1000px;
	margin: 10px auto;
	padding: 10px 15px 10px 15px;
	box-shadow: 5px 5px 5px #252525;

}

