body{
	background-color: #222222;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
}
h1{
	width: 1000px;
	margin: 10px auto;
	padding: 10px 15px 10px 15px; 
}

ul{
    list-style-type:none;
    /*margin: 0;
    padding: 0;*/
    overflow: hidden;

}
.menu li{
	list-style-type:none;
	display: inline-block;
	font-size:18px;
	padding-left:50px;
	padding-right: 60px;
	border: 1px solid #252525;
	color:white;
}
#page1{
	background-color:#D11250;
}

#page2{
 	background-color:#DB5800;
}

#page3{
	background-color:#006899;
}

#page4{
	background-color:#008F68;
}

#page5{
	background-color:#9933FF; 
}

.menu a:link{
	text-decoration: none;
}
.menu a:visited{
	color: black;
}
.menu li:hover{
	opacity: .3;
}



.main_content{
	width: 1000px;
	margin: 10px auto;
	padding: 10px 15px 10px 15px; 
	background-color:#101010;
	box-shadow: 5px 5px 5px #141414;
	color:#666666;
	overflow: hidden;
}

.menu{
	background-color:#101010;
	width: 1000px;
	margin: 10px auto;
	padding: 10px 15px 10px 15px;
	box-shadow: 5px 5px 5px #141414;
}

.footer{
	text-align:center;
	background-color:#101010;
	width: 1000px;
	margin: 10px auto;
	padding: 10px 15px 10px 15px;
	box-shadow: 5px 5px 5px #141414;
	color:#666666;
}
.main_content a{
	color:white;
}
.links img{
	width:300px;
}
.links img:hover{
	opacity: .7;

}

.leftdiv{
	width:490px;
	float:left;
	overflow: hidden;
}

.rightdiv{
	width:490px;
	float:right;
	overflow: hidden;
}
.pic{
	text-align: center;
}